a {
    text-decoration: none;
    color: coral;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

a:hover{
    color: #f00;
    border: 1px solid greenyellow;
}

.div1 {
    width: 200px;
    height: 150px;
    background-color: brown;
    padding: 10px 0 0 10px;
    border: 2px solid black;
    border-radius: 25px;
}

.div2 {
    text-align: center;
    width: 200px;
    height: 150px;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg); /* Safari e Chrome */
    -ms-transform:rotate(30deg); /* IE 9 */
    -moz-transform:rotate(30deg); /* Firefox */
    -o-transform:rotate(30deg); /* Opera */
    background-color: yellow;
    padding: 10px 0 0 10px;
    border: 2px solid black;
    border-radius: 25px;
}

.div2:hover {
    background-color: brown;
}


.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }