body{
    align-items: center;
    background-color: black;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

.input {
    box-sizing: border-box;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}